<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="turagenstvo2.Properties.Settings.turagenstvoConnectionString"
            connectionString="Data Source=311-UCH\MSSQLSERVER1;Initial Catalog=turagenstvo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>